* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    position: relative;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 40px;
    margin-bottom: 1rem;
}

section {
    display: flex;
    justify-content: center;
    padding: 8rem 0 8rem 0;
    height: 30dvh;
}

p {
    max-width: 65ch;
}