---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import RoadCard from "../components/RoadCard.astro";
import AboutThreeScene from "../components/aboutThreeScene.astro";
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/cloudthree.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
		<title>About Cloud Three</title>

		<style>
			.about-wrapper {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			.about-text-wrapper {
				display: flex;
				flex-direction: column;
				gap: 1rem;
			}

			.text-wrapper {
				display: flex;
				flex-direction: column;
			}

			#card-section {
				height: auto;
			}

			.text-wrapper {
				margin-bottom: 1.5rem;
			}

			.road-c-wrapper {
				display: grid;
				grid-template-columns: auto auto;
				gap: 1rem;
			}

			#three-wrap {
				position: relative;
				height: 50dvh;
			}

			#aThreeScene {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			.text-wrap-1 {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 2rem;
				margin-bottom: 2rem;
			}

			@media (max-width: 1280px) {
				.about-wrapper {
					display: flex;
					flex-direction: column;
					align-items: start;
				}

				.road-c-wrapper {
					grid-template-columns: auto;
				}

				#aThreeScene {
				align-items: start;
			}

				.text-wrap-1 {
					flex-direction: column;
					align-items: start;
				}
			}
		</style>
	</head>
	<body>
		<main>
			<Navbar/>
			<section>
				<div class = "container">
					<div class = "about-wrapper">
						<h1>About CloudThree</h1>
						<div class = "about-text-wrapper">
							<p>
								CloudThree is a resource library dedicated to 3D Design/Dev designed and built by <a>Miko Castillo</a>. 
								A problem I was having early on in my journey was finding resources dedicated to 3D Design and development. Everything was scattered and all over the place that I ended up saving a lot of links into a folder in my bookmarks bar.
							</p>

							<p>
								Being inspired by <a href="https://www.byhuy.com/" target="_blank">Huy Nguyen’s</a> design and front-end resource website, <a href="https://www.pillarstack.com/" target="_blank">Pillarstack</a>, I wanted to solve the problem of 3D resources being scattered around the web.
								This library was put together from my exploration in the 3D space and curiosity of knowing the options for anything related to 3D Design and development.	
							</p>
						</div>
					</div>	
				</div>
			</section>

			<section id = "card-section">
				<div class = "container">
					<div class = "text-wrapper">
						<h2>My Advice for Those Starting Out</h2>
						<p>I would research what you’d want to do in the 3D space. Let’s start broad and think about it. Do you want to design, develop, or both? The world is your oyster. Here’s a few simple roadmaps that you can try to follow. These roadmaps are a starting point that you can copy and edit to best fit your needs.</p>
					</div>

					<div class = "road-c-wrapper">
						<RoadCard
						title = "3D Design Roadmap"
						description = "Surface level roadmap for a beginner diving into their 3D Design journey."
						image = "/images/about/neon-cityscape.jpeg"
						link = "https://roadmap.sh/r/3d-designer-roadmap"
						/>
						<RoadCard
						title = "3D Design Roadmap"
						description = "Surface level roadmap for a beginner diving into their 3D Design journey."
						image = "/images/about/char-wireframe.jpeg"
						link = "https://roadmap.sh/r/3d-development"
						/>
					</div>
				</div>
			</section>

			<section id = "three-wrap">
				<div id = "aThreeScene" class = "container">
					<h2>Digging Deeper</h2>
					<p>Once you have a basic understanding of what you enjoy doing, it’s time to dig deeper and perfect your craft. You can dive into a niche and specialize in a specific aspect of 3D or you can look at job postings that involve 3D and polish your skills based on those roles.  </p>
					<AboutThreeScene />
				</div>
			</section>

			<section>
				<div id = "text-container" class = "container">
					<div class = "text-wrap-1">
						<h2>
							Legal Info				
						</h2>

						<p>All logos and pictures belong to the respective companies and individuals. No personal information is collected. Google Analytics is used on this site to gather the metrics regarding traffic and usage. This data is gathered to provide a better user experience.</p>
					</div>

					<div class = "text-wrap-1">
					<h2>Have Any Questions?</h2>
					<div class = "body-text-wrap">
						<p>Feel free to hit me up on my socials for any additional questions or give some feedback to the site. Thanks for checking out the CloudThree!</p>
					</div>	

					</div>
				</div>
			</section>

			<Footer />
		</main>
	</body>
</html>