---
import ThreeJSComponent from "../components/ThreeJSComponent.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Three Resources</title>
	</head>
	<body>
		<main>
			<section>
				<ThreeJSComponent/>
				<div class = "container">
				<h1>A curation of resources for 3D enthusiasts.</h1>	
				</div>
			</section>
		</main>
	</body>
</html>
