---
---

<div id="three-container"></div>

<style>
  #three-container {
    width: 100%;
  height: 15rem;
  display: block;
  position: absolute;
  z-index: -1;
  top: 60%;
  }
</style>

<script>
  import * as THREE from "three";
  import vertexShader from "../shaders/vertexA.glsl";
  import fragmentShader from "../shaders/fragmentA.glsl";

  document.addEventListener('DOMContentLoaded', () => {
    const container = document.getElementById('three-container');
    
    // Set up the scene, camera, and renderer
    const scene = new THREE.Scene();
    const camera = new THREE.PerspectiveCamera(75, container.clientWidth / container.clientHeight, 0.1, 1000);
    const renderer = new THREE.WebGLRenderer({
        alpha: true,
        antialias: true
    });
    renderer.setSize(container.clientWidth, container.clientHeight);
    container.appendChild(renderer.domElement);

    // Geometry
    const geometry = new THREE.SphereGeometry();
    const material = new THREE.ShaderMaterial({
      vertexShader,
      fragmentShader,
      uniforms: {
        uTime: {value: 0.01},
      }
    });
    const shape = new THREE.Mesh(geometry, material);
    scene.add(shape);

    // Position the camera
    camera.position.x = 0;
    camera.position.y = 0.4;
    camera.position.z = 4;

    // Animation loop
    const animate = function () {
      requestAnimationFrame(animate);



      material.uniforms.uTime.value += 0.05;
  
      renderer.render(scene, camera);
    };

    animate();

    // Handle window resize
    window.addEventListener('resize', () => {
      camera.aspect = container.clientWidth / container.clientHeight;
      camera.updateProjectionMatrix();
      renderer.setSize(container.clientWidth, container.clientHeight);

      
    });
  });
</script>