---
---
<style>
 #footer {
    position: relative;
 }

 a {
    text-decoration: none;
 }

 a:visited {
    color:black ;
    text-decoration: none;
 }
</style>

<div id = "footer">
    <div class = "footer-content">
        <p>Designed and Developed by <a class = "portfolio-link" href="https://www.no132design.com/" target="_blank"><strong>Miko.Cst</strong></a></p>
        <a>About</a>
        
    </div>
</div>