---
---

<nav>
    <a aria-label = "back to home">Home</a>
    <div>
        <ul>
            <li><a>About</a></li>
            <li><a>Miko's Portfolio</a></li>
            <li><a>Share Feedback</a></li>
        </ul>
    </div>
</nav>

<style>
    nav {
        position: sticky;
    }
    </style>