---
---
<div class = "sortM-wrapper">
    <button class = "sort-el">
        Sort By
        </button>
        <div class = "sortM-btn-wrap">
            <button class = "color" id = "all" data-filter = "all">All Resources</button>
            <button id = "tools" data-filter = "Tool">Tools</button>
            <button id = "youtube" data-filter = "Youtube">Youtube</button>
            <button id = "twitter" data-filter = "Twitter">Twitters</button>
            <button id = "learning" data-filter = "Learning">Learning</button>
    </div>
</div>


<style>
.sortM-wrapper {
    position: sticky;
    bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort-el {
    margin-top: 0.5rem;
	margin-bottom: 0.25rem;
    padding: .8rem 1.5rem .8rem 1.5rem;
	font-weight: 600;
	border-radius: .8rem;
	border-style: none;
    background-color: rgb(26, 26, 27);
	color:rgb(255, 255, 255);
}

.sortM-btn-wrap {
    display: flex;
    opacity: 0;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0.7rem 1rem 0.7rem;
    background-color:#99C1F6;
    border-radius: 20px;;
    position: absolute;
    bottom: 100%;
    left: auto;
    right: auto;
    transform: translateY(2rem);
    pointer-events: none;
    transition: opacity 0.075s ease-out, transform 0.1s ease;
}

.sortM-btn-wrap button {
    margin-top: 0.5rem;
	margin-bottom: 0.25rem;
    padding: .5rem .8rem .5rem .8rem;
	font-weight: 600;
	border-radius: .8rem;
    border-style: none;
}

.sortM-btn-wrap.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.color {
		background-color: rgb(26, 26, 27);
		color:rgb(255, 255, 255);	
			}

@media (width > 1200px) {
    .sortM-wrapper {
        display: none;
    }
}
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
    //initialization pt 1
    const sortEl = document.querySelector('.sort-el');
    const sortMBtnWrap = document.querySelector('.sortM-btn-wrap');

    //adding event listener to sortEl to show the sortMBtnWrap when clicked
    sortEl.addEventListener('click', function(){
        //adds CSS class 
        sortMBtnWrap.classList.toggle('show');
    })

    //initialization pt 2
    const sortButtons = document.querySelectorAll('.sortM-btn-wrap button');
    const cards = document.querySelectorAll('.card');

    //initialization of activeButton state
    let activeButton = sortButtons[0];
    activeButton.classList.add('color')

    //setting up event listener for each button
    sortButtons.forEach(button => {
        button.addEventListener('click', () => {
            //recording data-filter attribute of each button for cards
            const filter = button.getAttribute('data-filter');

            //removes class from default active button
			if (activeButton) {
				activeButton.classList.remove('color');
			}

            //gives active button css properties
			button.classList.add('color');

            //resets activeButton to be the button clicked
			activeButton = button;

            //function for getting attribute of cards
            cards.forEach(card => {
                const cardTag = card.getAttribute('data-tag');

                //cards will display if filter matches either all or cardTag
                if (filter === 'all' || cardTag === filter) {
                    card.style.display = 'block';
                  
                    //otherwise, display none 
                } else {
                    card.style.display = 'none';	
                }
               
            });
        })
    })

})
</script>