* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    position: relative;
}

section {
    display: flex;
    justify-content: center;
    padding: 8rem 0 8rem 0;
    height: 80dvh;
}

p {
    max-width: 65ch;
}